.cover
{
	background: url(images/background/3.jpg);
}

.cover .container .navbar-brand h2
{
	color: #fff;
    font-weight: bold;
    margin-top: -4px;
    margin-left: -240px;
    font-size: 25px;
}

.cover #navbar
{
	overflow: hidden;
	position: fixed; /* Set the navbar to fixed position */
	top: 0; /* Position the navbar at the top of the page */
	width: 100%; /* Full width */
	margin-left: 335px;
}

.cover #navbar .nav
{
	margin-top: 10px;
	margin-right: 24px;
	margin-left: 87px;
}

nav
{
	transition: 0.5s;
}

nav.sticky
{
	background: #fff;
	padding: 20px 100px;
	box-shadow: 0 5px 20px rgba(0,0,0,0.1);
	position: fixed;
	width: inherit;
	z-index: 99;
}

nav.sticky #sho h2
{
	color: #000;
}

.cover #navbar .nav li a
{
	color: #fff;
}

nav.sticky #navbar .nav li a
{
	color: #000;
}


.navbar-fixed-top.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}

.cover #navbar .nav li a:focus,
.cover #navbar .nav li a:hover 
{
    text-decoration: none;
    background-color: inherit; 
    color: #D83434;
}

.cover #navbar .nav .border
{
    border-radius: 16px;
    padding: 5px 11px;
	margin-left: 170px;
	background: #D83434;
	color: #fff;
	outline: none;
	margin-top: 10px;
}

.cover #navbar .nav .border:hover,
.cover #navbar .nav .border:hover
{
	background: #D83434;
	color: #fff;
}

.cover #navbar .nav .bordere
{
	border-radius: 16px;
	padding: 5px 8px;
	margin-left: 10px;
	background: #D83434;
	color: #fff;
	outline: none;
	margin-top: 10px;
}
.cover #navbar .nav .bordere:focus,
.cover #navbar .nav .bordere:hover
{
	background: #D83434;
	color: #fff;
}

#center .row #wel
{
	color: #D83434;
	font-size: 15px;
	font-weight: bold;
	margin-top: 150px;
	margin-left: 245px;
}

#center .row #am
{
	color: #fff;
	font-size: 3.7em;
	font-weight: bold;
	margin-left: 40px;
	margin-left: 100px;
}

#center .row #loem
{
	margin-left: 30px;
	color: #fff;
	text-align: center;
	margin-top: 15px;
}

#center .row .btn
{
	margin-left: 230px;
	margin-top: 20px;
	border: 1px solid #D83434;
	background: #D83434;
	color: #fff;
	padding: 5px 20px;
	outline: none;
	margin-bottom: 173px;
}

/*End Head Section*/

.about
{
	background: #000000e0;
	padding-bottom: 100px;
}
.about .container .row .img
{
	width: 500px;
    margin-left: -145px;
    margin-top: 80px;
    border-radius: 5px;
}
.about .container .row .iamg
{
	width: 230px;
    border-radius: 5px;
    margin-left: 185px;
    margin-top: -95px;
}
.about .container .row .abouthe
{
	color: #fff;
	font-weight: bold;
	margin-top: 120px;
	margin-left: 60px;
}
.about .container .row .sit
{
	color: #fffffff2;
	font-size: 12px;
	margin-left: 60px;	
	margin-top: 30px;
}
.about .container .row .boton
{
	padding: 7px 20px;
	border: 1px solid #D83434;
	background: #00000014;
	color: #fffffff2;
	outline: none;
	margin-top: 25px;
	margin-left: 60px;
	border-radius: 5px;
}

#progrese #design
{
	color: #fff;
	font-size: 16px;
	cursor: pointer;
	font-weight: bold;
	margin-left: -145px;
	margin-bottom: 10px;
	margin-top: 50px;
}

#progrese #progress
{
	margin-left: -145px;
	height:5px;
	width: 300px;
	background: #00000030;
}

#progrese #marki
{
	color: #fff;
	font-size: 16px;
	cursor: pointer;
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 50px;
	margin-left: -50px;
}

#progrese #progere
{
	height:5px;
	width: 300px;
	background: #00000030;
	margin-left: -50px;
}
#progrese #photo
{
	color: #fff;
	font-size: 16px;
	cursor: pointer;
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 50px;
	margin-left: 40px;
}
#progrese #pro
{
	height:5px;
	width: 300px;
	background: #00000030;
	margin-left: 40px;
}

.up
{
	border: 1px solid #D83434;
	background: #D83434;
	color: #fff;
	padding: 8px;
	margin-right: 715px;
	position: absolute;
	margin-left: 1290px;
    margin-top: -45px;
    cursor: pointer;
}
.up a
{
	text-decoration: none;
	color: #fff;
}

/*End About Section*/

.services
{
	background: #000000db;
	padding-bottom: 80px;
}

.services #service .our
{
	color: #fff;
	font-weight: bold;
	margin-top: 80px;
	margin-left: 470px;
	font-size: 33px;
}
.services #service .elit
{
	color: #fffffff2;
	margin-left: 60px;
	text-align: center;
	margin-right: 40px;
	margin-bottom: 60px;
}

.services #service .row .dei
{
	border: 1px solid #D83434;
	padding: 15px 17px;
    margin-right: 247px;
    border-radius: 50px;
    margin-left: 50px;
}
.services #service .row .dei i
{
	font-size: 30px;
	color: #D83434;
	cursor: pointer;
}

.services #service .row #site
{
	color: #fff;
	font-weight: 600;
	margin-left: 130px;
	font-size: 20px;
	margin-top: -60px;
	margin-bottom: 10px;
}
.services #service .row #grid
{
	color: #fffffff2;
	margin-left: 130px;
	font-size: 12px;
	margin-bottom: 30px;
}

.services #service .row #send
{
	border: 1px solid #D83434;
	padding: 15px 15px;
    margin-right: 263px;
    border-radius: 50px;
    margin-left: 30px;
}
.services #service .row #send i
{
	font-size: 30px;
	color: #D83434;
	cursor: pointer;
}
/*End Services Section*/

#centery
{
	background: url(images/background/5.jpg);
	margin-top: -20px;
	padding-bottom: 40px;
}

#centery #ame
{
	margin-left: 470px;
	font-weight: bold;
	color: #fff;
	font-size: 30px;
	padding-top: 50px;
}

#centery .btnn
{
    margin-left: 627px;
    padding: 5px 20px;
    margin-top: 10px;
    background: #D83434;
    color: #fff;
    border: 1px solid #D83434;
    outline: none;
    border-radius: 5px;
}

/*Start testimonial carousel*/

#testimonial
{
	background: #000000d9;
	padding-bottom: 200px;
	margin-bottom: 40px;
}

#testimonial #test
{
	color: #fff;
	font-weight: bold;
	margin-left: 585px;
	margin-top: 60px;
}

#testimonial #monial
{
	color: #fff;
	margin-left: 15px;
	text-align: center;
	margin-top: 20px;
}

#testimonial #quota
{
	color: #D83434;
    font-size: 2em;
    margin-left: 665px;
    margin-top: 15px;
    margin-bottom: 180px;
}

#testimonial #peop
{
	width: 80px;
    border-radius: 80px;
    margin-left: 633px;
    margin-top: -158px;
    margin-bottom: 150px;
}

#testimonial #with
{
	color: #fff;
	text-align: center;
	margin-left: 330px;
	margin-right: 330px;
	margin-top: -120px;
	margin-bottom: 100px;
}

#testimonial #custom
{
	color: #fff;
	margin-left: 620px;
	margin-top: -50px;
	margin-bottom: 70px;
}

#testimonial #select
{
	opacity: 0;
}

#testimonial #select:hover
{
	opacity: 1;
}

#testimonial #react
{
	opacity: 0;
}

#testimonial #react:hover
{
	opacity: 1;
}




/*End Testimonial Carousel*/

.portfol
{
	margin-top: -40px;
	background: #0e0b0be8;
	padding-bottom: 50px;
}

.portfol h5
{
	color: #D83434;
	font-weight: bold;
	padding-top: 100px;
	margin-left: 645px;
}
.portfol h2
{
	color: #fff;
	font-weight: bold;
	margin-left: 565px;
}
.portfol .nav
{
	background: #00000000;
    padding: 10px 384.5px;
    margin-top: -10px;
}
.portfol .nav li .active
{
	background: #D83434;
	color: #fff;
}
.portfol .nav li a
{
	color: gray;
	border-radius: 40px;
}
.portfol .nav li a:hover
{
	color: gray;
	background: #D83434;
	color: #fff;
}
.portfol .container .row #mine
{
    width: 280px;
    margin-left: 40px;
    margin-top: 10px;
}
/*End Portfolio Page*/

.blog
{
	background: #000000cf;
	padding-bottom: 80px;
}

.blog .container #testi
{
	color: #fff;
	font-weight: bold;
	margin-left: 500px;
	padding-top: 50px;
}

.blog .container #monials
{
	color: #fffffff2;
	margin-left: 60px;
	margin-right: 40px;
	text-align: center;
}
.blog .container .row .expert
{
	width: 275px;
	margin-left: 140px;
	margin-top: 20px;
	border-radius: 10px;
}
.blog .container .row .experte
{
	width: 275px;
	margin-left: 40px;
	margin-top: 20px;
	border-radius: 10px;
}
.blog .container .row .experti
{
	width: 275px;
	margin-left: -60px;
	margin-top: 20px;
	border-radius: 10px;
}

.blog .container .row .uper
{
	border: 1px solid #D83434;
    color: #fff;
    background: #D83434;
    border-radius: 10px 10px 0 0;
    padding-left: 18px;
    margin-top: -72px;
    margin-left: 167px;
    position: absolute;
    margin-top: -53px;
    padding-right: 24px;
    padding-top: 6px;
    cursor: pointer;
    position: absolute;
}

.blog .container .row .upere
{
	border: 1px solid #D83434;
    color: #fff;
    background: #D83434;
    border-radius: 10px 10px 0 0;
    padding-left: 16px;
    position: absolute;
    margin-top: -59px;
    padding-right: 33px;
    padding-top: 6px;
    cursor: pointer;
    margin-top: -33px;
    margin-left: -34px;
}

.blog .container .row .uperr
{
	border: 1px solid #D83434;
	color: #fff;
    background: #D83434;
    border-radius: 10px 10px 0 0;
    padding-left: 18px;
    position: absolute;
    padding-right: 27px;
    padding-top: 6px;
    cursor: pointer;
    margin-top: -33px;
    margin-left: 68px;
}

.blog .container .row .uper span
{
	margin-left: 20px;
}
.blog .container .row .uperr span
{
	margin-left: 20px;
}
.blog .container .row .upere span
{
	margin-left: 20px;
}

.blog .container .row .better
{
	color: #fff;
	font-weight: bold;
	margin-left: 160px;
	font-size: 20px;
}
.blog .container .row .use
{
	color: #fffffff2;
	margin-left: 162px;
	font-size: 13.5px;
	margin-right: -40px;
}

.blog .container .row .bette
{
	color: #fff;
	font-weight: bold;
	margin-left: 65px;
	font-size: 20px;
}
.blog .container .row .tip
{
	color: #fffffff2;
	margin-left: 65px;
	font-size: 13.5px;
	margin-right: 40px;
}

/*End Blog Section*/

.contact
{
	background: #000000e0;
	padding-bottom: 50px;
}

.contact .container #testi
{
	color: #fff;
	font-weight: bold;
	margin-left: 500px;
	padding-top: 50px;
}

.contact .container #monials
{
	color: #fffffff2;
	margin-left: 60px;
	margin-right: 40px;
	text-align: center;
}

.contact .container .row .form-group #exampleInputName1
{
	padding: 20px;
	margin-top: 30px;
	background: #0000006b;
	border: 1px solid #303030;
	width: 415px;
	margin-left: 140px;
}

.contact .container .row .form-group #exampleInputName1:hover,
.contact .container .row .form-group #exampleInputName1:focus
{
	border-color: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.contact .container .row .form-group #testie
{
	margin-top: 30px;
	background: #0000006b;
	border: 1px solid #303030;
	padding-top: 10px;
	height: 180px;
	width: 415px;
}

.contact .container .row .form-group #testie:hover,
.contact .container .row .form-group #testie:focus
{
	border-color: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.contact .container .buttn
{
	padding: 6px 20px;
	border: 1px solid #D83434;
	background: #D83434;
	color: #fff;
	border-radius: 5px;
	outline: none;
	margin-left: 505px;
    margin-top: 30px;
}

.contact .container #last #fir
{
	color: #D83434;
	margin-left: 320px;
	font-size: 2.3em;
	margin-top: 40px;
	cursor: pointer;
}
.contact .container #last #call
{
	margin-left: 313px;
	font-weight: bold;
	color: #fffffff2;
	margin-right: -40px;
	margin-top: 15px;
}
.contact .container #last #num
{
	margin-left: 289px;
	color: #fffffff2;
	margin-right: -40px;
	margin-top: 10px;
}
.contact .container #last #sec
{
	color: #D83434;
	margin-left: 161px;
	font-size: 2.3em;
	margin-top: 40px;
	cursor: pointer;
}
.contact .container #last #off
{
	color: #fffffff2;
	margin-left: 140px;
	font-weight: bold;
	margin-top: 15px;
}
.contact .container #last #str
{
	color: #fffffff2;
	margin-left: 75px;
	margin-top: 10px;
}
.contact .container #last #the
{
	color: #D83434;
	font-size: 2.3em;
	margin-top: 40px;
	cursor: pointer;
}
.contact .container #last #emil
{
	color: #fffffff2;
	font-weight: bold;
	margin-left: -15px;
	margin-top: 15px;
}

.contact .container #last #exam
{
	color: #fffffff2;
	margin-left: -50px;
	margin-top: 10px;
}
/*End Contact Us Section*/

#foot 
{
	background: #000000c7;
	padding-top: 20px;
	padding-bottom: 20px;
}

#foot .container .row #copy
{
	color: #fff;
	margin-top: 20px;
	margin-bottom: 20px;
	cursor: pointer;
	margin-left: 135px;
}

#foot .container .row #down
{
	margin-top: 20px;
	margin-left: 20px;
}

#foot .container .row .border
{
	border: 1px solid #D83434;
	background: #D83434;
	color: #fff;
	font-size: 1.4em;
	padding: 7px 13px;
	margin-top: 20px;
	border-radius: 40px;
	margin-right: 5px;
}

#foot .container .row .bordere
{
	border: 1px solid #D83434;
	background: #D83434;
	color: #fff;
	font-size: 1.4em;
	padding: 7px 8px;
	margin-top: 20px;
	border-radius: 40px;
	margin-right: 5px;
}
#foot .container .row .borderee
{
	border: 1px solid #D83434;
	background: #D83434;
	color: #fff;
	font-size: 1.4em;
	padding: 7px 10px;
	margin-top: 20px;
	border-radius: 40px;
	margin-right: 5px;
}
#foot .container .row .bord
{
	border: 1px solid #D83434;
	background: #D83434;
	color: #fff;
	font-size: 1.4em;
	padding: 7px 6px;
	margin-top: 20px;
	border-radius: 40px;
	margin-right: 5px;
}
#foot .container .row .bordee
{
	border: 1px solid #D83434;
	background: #D83434;
	color: #fff;
	font-size: 1.4em;
	padding: 7px 7px;
	margin-top: 20px;
	border-radius: 40px;
	margin-right: 5px;
}

/*End All Work*/

#container
{
	width: 90%;
	margin: 10px auto;
}

.portfolio-menu
{
	text-align: center;
	margin-left: -120px;
}

.portfolio-menu ul
{
	position: relative;
	height: auto;
	width: 100%;
	text-align: center;
	margin: 2%  0;
	padding: 5px 0;
	margin: 10px 0 30px 0;
}

.portfolio-menu ul li
{
	list-style-type: none;
	display: block;  
	box-sizing: border-box;
}

.portfolio-menu ul li a
{
	box-sizing: border-box;
	text-decoration: none;
	color: #fff;
	padding: 5px 10px;
	border-radius: 40px;
	transition: 0.2s ease-in-out;
}

.portfolio-menu ul li a:hover
{
	background: #D83434;
	cursor: pointer;
}

.portfolio-menu ul li a:active
{
	background: #D83434 !important;
}

.imgbox
{
	position: relative;
	width: 95%;
	margin-left: 33px;
	height: auto;
	display: flex;
	flex-wrap: wrap;
}

.imgbox img
{
	margin-bottom: 7px;
	margin-right: 7px;
}

  

